[user]
  name = Jacek Galanciak
  email = jacek.galanciak@gmail.com
[mergetool]
  keepBackup = true
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[push]
  # Only push branches that have been set up to track a remote branch.
  default = current
[apply]
  whitespace = warn

[alias]
  co = checkout
  # Alternate log display from Scott Chacon
  lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  l = log --pretty=format:'%Cred%h%Creset %Cgreen%cr %C(bold blue)%an%Creset%C(yellow)%d%Creset %s'
  unstage = reset HEAD
  staged = diff --cached
  unstaged = diff
  current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
  track = checkout -t
  st = status
  ci = commit
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  r = !git l -20
  ra = !git r --all
  fa = fetch --all
  pullff = pull --ff-only
  ff = merge --ff-only
[merge]
  tool = vimdiff
[core]
  excludesfile = /Users/razorjack/.gitignore_global

[diff "localizablestrings"]
  textconv = "iconv -f utf-16 -t utf-8"
[gpg]
	program = /usr/local/MacGPG2/bin/gpg
