.Trash/
Applications*
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
node_modules/
Pictures/
Projects/
Public/
Sites/
.config/vim/plugged
*
!.bash_profile
!.bashrc
!.ctags
!.gemrc
!.gitattributes
!.gitcofig
!.githelpers
!.gitignore
!.gitignore_global
!.gitmodules
!.pumaenv
!.profile
!.railsrc
!.tmux.conf
!.zlogin
!.zsh
!.zshenv
!.zshrc
!.setup.sh
!.config/fish/*
!.config/bash/*
!.ripgreprc
!.bundle/config
!.config/ack/ackrc
!.config/ag/ignore
!.config/bat/config
!.config/ideavim/ideavimrc
!.config/irc/irbrc
!.config/jesseduffield/lazygit/config.yml
!.config/ranger/*
!.config/ripgrep/config
!.config/ripgrep/ignore
!.config/gem/gemrc
!.config/kitty/*
!.config/ghostty/*
!.config/CLAUDE.md
!.config/pry/*
!.config/pg/*
!.config/zsh/.zshrc
!.config/zsh/.zshenv
!.config/zsh/.zlogin
!.config/nvim/.gitignore
!.config/nvim/init.lua
!.config/nvim/lazyvim.json
!.config/nvim/lazy-lock.json
!.config/nvim/lua/config/autocmds.lua
!.config/nvim/lua/config/keymaps.lua
!.config/nvim/lua/config/lazy.lua
!.config/nvim/lua/config/options.lua
!.config/nvim/lua/plugins/colorscheme.lua
!.config/nvim/stylua.toml
!.config/git/*
!.config/vim/vimrc
!.config/readline/inputrc
!.config/rails/railsrc
!.config/git/attributes
!.config/git/config
!.config/ctags/default.ctags
!.config/bundle/config
!.config/razorjack/Brewfile
!.rgignore
!Library/Application Support/Code/User/settings.json
!Library/Application Support/Code/User/keybindings.json
.config/zsh/.zcompdump
