.Trash/
Applications*
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
node_modules/
Pictures/
Projects/
Public/
Sites/
.vim/plugged
*
!.ackrc
!.agignore
!.bash_profile
!.bashrc
!.ctags
!.gemrc
!.gitattributes
!.gitcofig
!.githelpers
!.gitignore
!.gitignore_global
!.gitmodules
!.gvimrc
!.ideavimrc
!.irbrc
!.powconfig
!.profile
!.psqlrc
!.railsrc
!.tmux.conf
!.vim
!.vim/bundle/Vundle.vim
!.vimrc
!.zlogin
!.zsh
!.zshenv
!.zshrc
