.Trash/
.config/
.cups/
.darkplaces/
.dropbox/
.eyrc
.gem/
.last.fm-cache/
.lesshst
.npm/
.passenger/
.pow
.rbx/
.rvm/
.ssh/
.subversion/
.vim/backup/
.vim/.netrwhist
.viminfo
.zcompdump
.*history*
Applications*
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
node_modules/
Pictures/
Projects/
Public/
Sites/

/.cocoapods/

/.netrc

/.vagrant.d/

*.pyc
.idea/
